@font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@content_width: 1100px;
@content_min_height: 115px;

@link_color: #2f5dff;
@link_hover_color: #66CCFF;
@link_active_color: #003399;

@label_color: #0099CC;
@h_color: #555;

@button_color: #fff;
@button_bg_color: #0099CC;
@button_bg_hover_color: #66CCFF;
@button_bg_active_color: #003399;

@container_bg_color: #fff;
@container_border_color: #ddd;
.container_block() {
  background-color: @container_bg_color;
  // box-shadow: 0 0 5px #ddd;
  // border: 1px solid rgba(0, 0, 0, .12);
}

@form_description_color: #969696;


// Background
@background: #FAFAFA;
@backgroundImage: none;

// Layout
@contentMaxWidth: 1200px;
@contentMinHeight: 115px;

@contentSectionWidth: 50%;
@contentSectionTabletWidth: 66%;
@contentAsideLeftWidth: 25%;
@contentAsideRightWidth: 25%;

@viewportTablet: 520px;
@viewportDesktop: 1024px;

// Fonts
@font: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontSize: 14px;
@fontSizeHeader: 16px;
@fontSizeForms: 12px;
@fontColor: #161616;
@fontErrorColor: #CA5552;
@fontNoticeColor: #caca21;
@fontSuccessColor: #0ab93c;

@linkColor: #428BCA;
@linkHoverColor: #CA5552;
@linkActiveColor: #3067B6;

// Buttons
@buttonColor: #000000;
@buttonBgColor: #FFFFFF;
@primaryButtonColor: #FFFFFF;
@primaryButtonBgColor: @linkColor;
@dangerButtonColor: #FFFFFF;
@dangerButtonBgColor: @fontErrorColor;
@successButtonColor: #FFFFFF;
@successButtonBgColor: @fontSuccessColor;

// Nav
@buttonNavHeight: 25px;
@buttonNavColor: #FFFFFF;
@buttonNavHoverColor: #FFFFFF;
@buttonNavBgColor: @linkColor;
@buttonNavBgHoverColor: @linkHoverColor;
@buttonNavBorderWidth: 0 1px;
@buttonNavBorderStyle: solid;
@buttonNavBorderColor: transparent;
@buttonNavBorderHoverColor: transparent transparent #428BCA transparent;
@buttonNavHandleBg: #FFFFFF;

// Forms
@containerBgColor: #FFFFFF;
@containerBorderColor: #DDDDDD;
@formDescriptionColor: #404040;
@formLabelColor: @linkColor;
@formInputColor: black;

// Widgets
@widgetHeaderBorder: 1px solid;

// Header, Footer
@headerBackground: #136AD5;
@headerColor: #FFF;
@footerBackground: #F0F8FF;
@footerColor: @fontColor;