@import "constants";

@import "../default/mixins";
@import "../default/common";
@import "../default/misc";
@import "../default/layout";
@import "../default/header";
@import "../default/footer";
@import "../default/nav";
@import "../default/widgets";
//@import "../default/forms";
//@import "../default/forms-elements";
@import "../default/media";

body {
  font-family: @font;
}

.center {
  text-align: center;
}

img {
  border: none;
}

a {
  color: @link_color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: @link_hover_color;
  }
  &:active {
    color: @link_active_color;
  }
}

h2, h3, h4 {
  color: @h_color;
  font-weight: 400;
}

.clear {
  clear: both;
}

/*** CUSTOM PAGE LAYOUT ***/
/*** FORMS ***/
.form_errors,
.form_notices {
  margin: 0 0 0 20px;
  padding: 10px;
}

.form_errors li,
.form_notices li {
  color: #ff0000;
}

/* NAVIGATION */

.navbar {

}

.navbar .nav {
  height: 35px;
}

.navbar ul {
  list-style: none;
  padding-left: 0px;
}

.navbar ul li .dropdown-menu {
  display: none;
  position: absolute;
  width: 150px;
}

.navbar ul li .dropdown-menu li.dropdown-submenu {
  position: relative;
}

.navbar .nav > li {
  float: left;
  margin-right: 10px;
  position: relative;
}

.navbar .nav > li > a {
  height: 20px;
}

.navbar .nav li > a {
  display: block;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, .5);
  text-decoration: none;
  color: @h_color;
  text-shadow: 0px 0px 1px grey;
}

.navbar .nav li > a:hover {
  background-color: rgba(207, 207, 207, 0.32);
}

.navbar .nav > li.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar .nav li.dropdown li.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  top: 0px;
  left: 150px;
}

/*CONTENT RELATED STYLES*/

.ui-tooltip, .arrow:after {
  background: rgba(0, 0, 0, 0.75);
}

.ui-tooltip {
  float: left;
  padding: 5px;
  color: white;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  border: 0;
  max-width: 400px;
}

.ui-tooltip p {
  margin: 0;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}

.form_login {
  width: 420px;
  margin: 0 auto;
  box-shadow: 0px 0px 2px grey;
}

.header_logo {
  float: left;
}

.header_logo img {
  max-width: 250px;
  max-height: 150px;
}

.header_logo a {
  font-family: comic sans ms, cursive;
}

.header_widget {
  padding-bottom: 10px;
  margin: 5px 10px;
}

.header_auth {
  .container_block();
  float: right;
  padding: 10px;
  margin-top: -10px;
  a {
    margin: 0 5px;
  }
}

.page_views {
  padding: 10px;
  text-align: center;
}

.error_container {
  min-height: 300px;
}

.error_block {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -80px;
  width: 400px;
}

.error_page_title {
  font-size: 128px;
  font-weight: bold;
  text-align: center;
  height: 150px;
}

.error_page_description {
  text-align: center;
  width: 400px;
}

.nav .nav-icon {
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}

.nav .nav-icon-left {
  margin-right: 7px;
}

.nav .nav-icon-right {
  margin-left: 7px;
}

.loading_stage {
  background: black;
  opacity: 0.7;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

.loading_stage span {
  background: url('@{baseUrl}assets/img/core/loader/white.gif') no-repeat center center;
  display: block;
  width: 100%;
  height: 100%;
}

.profile-nav .user-heading a img {
  width: 150px !important;
  height: 150px !important;
}

.profile-nav .user-heading a {
  &.delete-avatar {
    display: inline-block !important;
    top: 100px;
    left: 50%;
    margin-left: -14px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
    padding: 0;
    opacity: 0;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    border: 0 !important;
  }

  &:hover {
    &.delete-avatar {
      opacity: 1;
    }
  }
}

/* REGSITRATION FORM */
.form-signin-error {
  text-align: center;
  padding: 2px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.btn-default {
  border: 0 !important;
}
