.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#wrapper {  
  border: 1px solid #222;
  width:1170px;
  margin:0 auto;
  margin-top:20px;
  background-color: #222;  
}

.wrapper-border{
    width:100%;        
    border:10px dashed orange;    
}

.system-nav {
  height: 40px;
  background-color: #33628a;
  a{
    color:#FFF;
    &:hover{
      color:#000;
    }
  }
}

.header {  
  div[class*="col-"] {
    height: 300px;    
  }
  //min-height: 300px;
  background-color: #F3F3F3;
  position: relative;

  .btn-header{
    position: absolute;
    top:30px;
    left:30px;      
  }  

  .avatar {    
    position: absolute;
    top:150px;
    height: 150px;
    width: 100%;

    .username{    
      float:left;
      display: inline-block;  
      margin:0;
      margin-left:20px;
      font-size:30px;
      text-shadow: 0 -2px 3px #111,0 3px 4px #666;
      text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;

      color: #d2b48c;
      //text-shadow: 0 3px 0 #999999, 0 15px 5px rgba(0,0,0,0.1), 10px 20px 5px rgba(0,0,0,0.05), -10px 20px 5px rgba(0,0,0,0.05);

      .job-title{
        font-size: 18px; 
        font-style: normal;
        color:#222;
        text-shadow: none;
      }
    }
    img {
      float:left;
      display: inline-block;
      border: 5px solid rgba(255, 255, 255, .5);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
      -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      width: 138px;
      height: 138px;
      &:hover {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
        -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
        -o-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .top-gif{
    padding-right:0;
    .btn{
      position: absolute;
      top:50%;
      right:100px;
      margin:0 auto;    
    }
  }
}

.header-row-2{
  background-color: #222;
  height: 40px;
  color:#FFF;
}

.header-row-3{
  background-color: #222;
  padding:10px 0;
  div[class*="col-"]{
    height: 130px;  
  }
  
  h3{
    margin:0;
    padding:5px 0;
    text-align: center;    
    border:4px solid green;
    margin-top:42px;
    color:#FFF;
  }
}

.thumbnail{
  position: relative;
  .actions{
    position: absolute;
    display: inline-block;
    top:10px;
    right:10px;
    opacity: 0;
  }
  &:hover{
    .actions{
      opacity: 1;
    }
  }
}