figure {
  a.trash {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #222;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -15px;
    opacity: 0;
    color:#FFF;
  }

  &:hover {
    a.trash {
      opacity: 1;
    }
  }
}