/*
  +------------------------------------------------------------------------+
  | PhalconEye CMS                                                         |
  +------------------------------------------------------------------------+
  | Copyright (c) 2013-2014 PhalconEye Team (http://phalconeye.com/)       |
  +------------------------------------------------------------------------+
  | This source file is subject to the New BSD License that is bundled     |
  | with this package in the file LICENSE.txt.                             |
  |                                                                        |
  | If you did not receive a copy of the license and are unable to         |
  | obtain it through the world-wide-web, please send an email             |
  | to license@phalconeye.com so we can send you a copy immediately.       |
  +------------------------------------------------------------------------+
  | Author: Ivan Vorontsov <ivan.vorontsov@phalconeye.com>                 |
  | Author: Piotr Gasiorowski <p.gasiorowski@vipserv.org>                  |
  +------------------------------------------------------------------------+
*/
@main_color: #428bca;
@main_color2: #357ebd;


body {
  background-color: #FFFFFF;
  min-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  color: #555555;
  font-family: inherit;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-rendering: optimizeLegibility;
}


a {
  color: @main_color;
}

.btn-primary {
  background-color: @main_color;
  border-color: @main_color2;
}

.clear {
  clear: both;
}

input, textarea, select {
  border-radius: 0 !important;
}

#footer {
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font: normal normal 700 12px/18px Arial;
  color: black;
}

.admin-sidenav {
  width: 228px;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.admin-sidenav > li > a {
  display: block;
  width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #f3f3f3;
}

.admin-sidenav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}

.admin-sidenav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.admin-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

.content {
  padding-left: 250px;
}

.content .row-fluid {
  overflow: hidden;
}

.content .row-fluid > div {
  min-width: 750px;
}

.content .row-fluid > [class*="span"] {
  background-color: #f4f4f4;
  border: 1px solid #cdcdcd;
  padding: 20px 40px 20px 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.row-after-header {
  padding-top: 20px;
  margin-bottom: -20px;
}

.row-after-header > div {
  margin-left: 20px;
}

.admin-sidebar {
  margin-left: 0px;
}

/*** PAGINATION CONTROL ***/
.pagination-container {
  text-align: center;
}

.pagination li {
  list-style: none;
  display: inline;
}

/*** PAGES EDITION CSS ***/

.admin_pages_browse_form label {
  width: auto;
}

.admin_pages_browse_form #form_page {
  color: black;
}

.admin_pages_browse_form select {
  width: 713px;
}

.widgets {
  margin: 0px;
}

.ui-draggable-dragging {
  width: 100px !important;
}

.ui-sortable-placeholder {
  border: 1px dotted black;
  background: #006dcc !important;
  visibility: visible !important;
  height: 20px !important;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

.admin_pages_widgets {
  float: left;
  width: 195px;
  height: 600px;
}

.layout_header {
  width: 734px !important;
  height: auto !important;
  border: 3px solid #006dcc !important;
  background-image: url('@{baseUrl}assets/img/core/admin/content/placeholder.png') !important;
  background-repeat: repeat;
  overflow: hidden !important;
}

.layout_footer {
  width: 734px !important;
  height: auto !important;
  border: 3px solid #006dcc !important;
  background-image: url('@{baseUrl}assets/img/core/admin/content/placeholder.png') !important;
  background-repeat: repeat;
  overflow: hidden !important;
}

.layout_header span, .layout_footer span {
  background: white;
  color: #2d2d2d;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

.layout_top {
  width: 734px !important;
  height: auto !important;
  min-height: 70px;
  border: 3px solid #006dcc !important;
}

.layout_bottom {
  width: 734px !important;
  height: auto !important;
  min-height: 70px;
  border: 3px solid #006dcc !important;
}

.layout_left {
  float: right !important;
  width: 184px !important;
  height: auto !important;
  min-height: 400px;
  border: 3px solid #006dcc !important;
}

.layout_right {
  float: right !important;
  width: 184px !important;
  height: auto !important;
  min-height: 400px;
  border: 3px solid #006dcc !important;
}

.layout_middle {
  width: 390px !important;
  height: auto !important;
  min-height: 400px;
  border: 3px solid #006dcc !important;
}

#widgets_container_special {
  width: 759px !important;
}

.row-page-manager {
  min-width: 1050px !important;
}

.row-page-manager ul {
  padding: 0;
}

.manage_page_header {
  width: 934px;
}

#global_placer {
  float: left;
  margin: 1px 0 0 0 !important;
}

.admin_pages_layout {
  float: right;
  width: 740px;
  overflow-y: auto;
  margin: 0 !important;
}

.widget_seperator {
  background: #006dcc !important;
  cursor: auto !important;
  color: white !important;
}

.widgets li + .widget_seperator {
  margin-top: 20px;
}

.widgets li {
  padding: 5px;
  margin: 2px;
  background: white;
  cursor: move;
  list-style: none;
  border: 1px solid #ccc;
}

.widgets li:hover {
  background: #ECECEC;
}

.delete_widget {
  float: right;
  cursor: pointer;
  display: none;
  margin-right: 5px;
}

.widget_options_panel {
  float: right;
  height: 40px;
  margin-top: 15px;
}

.widget_options_panel .dropdown-menu {
  margin-left: -214px;
}

.dropdown-menu {
  border-radius: 0;
}

#layout_select_block {
  background: white;
  border-radius: 3px;
}

.admin_layoutbox_menu_columnchoices_instructions {
  margin: 0 0 10px 10px !important;
}

ul.admin_layoutbox_menu_columnchoices_thumbs {
  overflow: hidden;
  margin: 0 10px 0 10px !important;
}

ul.admin_layoutbox_menu_columnchoices_thumbs > li {
  float: left;
  overflow: hidden;
  margin: 0px 6px 6px 0px;
  width: 76px;
}

html[dir="rtl"] ul.admin_layoutbox_menu_columnchoices_thumbs > li {
  float: right;
  margin: 0px 0px 6px 6px;
}

ul.admin_layoutbox_menu_columnchoices_thumbs > li:last-child {
  margin-right: 0px;
}

html[dir="rtl"] ul.admin_layoutbox_menu_columnchoices_thumbs > li:last-child {
  margin-left: 0px;
}

ul.admin_layoutbox_menu_columnchoices_thumbs img {
  border: 1px solid transparent;
  cursor: pointer;
}

ul.admin_layoutbox_menu_columnchoices_thumbs img:hover {
  border: 1px solid #777;
}

.admin_layoutbox_menu_columnchoices_cancel {
  margin-top: 3px;
}

.admin_layoutbox_menu_columnchoices img {
  cursor: pointer;
}

.manage_page_header_label > h3 {
  margin-bottom: 0px;
}

.manage_page_header_label {
  width: 600px;
  float: left;
  min-height: 80px;
}

.label {
  border-radius: 0;
}

.modal {
  border-radius: 0;
}

.modal .modal-dialog {
  width: 750px;
}

.modal-content {
  border-radius: 0;
}

.modal-body form .form_label {
  width: 145px !important;
  margin-right: 10px !important;
}

.modal-body form .form_element {
  float: right !important;
}

.modal-body form .form_elements .form_element textarea {
  max-width: 360px !important;
  width: 360px !important;
}

.modal form .form_elements input {
  float: right;
}

.modal-message {
  padding: 10px;
}

/*** FORMS ***/

form .form_header > h3 {
  margin-bottom: 0;
}

form .form_header > p {
  color: #969696;
}

form fieldset {
  clear: both;
}

form .form_elements > div,
form fieldset > div {
  min-height: 30px;
  clear: both;
  padding-top: 10px;
}

form .form_elements .form_label {
  width: 200px;
  float: left;
  margin-right: 50px;
  word-wrap: break-word;
}

.navbar-header .nav > .active > a, .navbar-header .nav > .active > a:hover {
  background-color: @main_color !important;
}

form .form_elements .form_label > label {
  margin-bottom: 0;
  color: @main_color;
  font-weight: bold;
  word-wrap: break-word;
}

form .form_elements .form_label > p {
  font-size: 11px;
  color: #969696;
}

form .form_elements .form_element {
  float: left;
  max-width: 550px;
}

form .form_elements .form_element textarea {
  max-width: 530px;
  width: 400px;
  height: 100px;
}

form .form_element_file_image {
  text-align: center;
  width: 220px;
}

form .form_element_file_image img {
  max-width: 220px;
  max-height: 220px;
  margin: 0 10px 10px 10px;
}

form div[data-dynamic] {
  & > * {
    clear: both;
    margin: 5px 0;
    width: auto;
  }

  .dynamic-controls {
    float: right;

    i {
      margin-right: 10px;
    }
  }
}

form .form_footer {
  float: left;
  clear: both;
  margin: 20px 0 20px 250px;
}

form .form_footer .btn + .btn {
  margin-left: 10px;
}

form .form_elements .validation_failed label {
  color: red;
}

form .form_elements .validation_failed input,
form .form_elements .validation_failed textarea,
form .form_elements .validation_failed select, {
  border: 1px solid red;
}

form .form_elements select {
  min-width: 150px;
}

.form_errors,
.form_notices {
  margin: 0;
  padding: 0;
}

.form_errors li,
.form_notices li {
  list-style: none;
  margin-bottom: 10px;
}

.form_element_radio {
  min-height: 30px;
  width: 220px;
}

.form_element_radio label,
.form_element_radio input {
  float: left;
}

.form_element_radio label {
  margin-left: 5px;
}

.form_element_remote_file > input[type="text"] {
  float: left;
  outline: 0;
  padding: 6px 0 6px 5px;
  border: 1px solid #ccc;
}

/*** MENUS ***/

.menu_manage_header {

}

.menu_manage_header .label {
  float: right;
  display: none;
}

.menu_manage_body > ul {
  padding: 10px 0;
  margin: 0;
}

.menu_manage_body > ul li {
  list-style: none;
  height: 45px;
  margin: 10px 0;
  cursor: move;
  background: #2d2d2d;
}

.menu_manage_body > ul li .item_title {
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  color: white;
}

.menu_manage_body > ul li .item_title .icon-move {
  margin-right: 5px;
}

.menu_manage_body > ul li .item_options {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.menu_manage_body > ul li .item_options a + a {
  margin-left: 5px;
}

/* Autocomplete styles */

.ui-helper-hidden-accessible {
  display: none;
}

/* COMMON ADMIN styles */

.dashboard {
  margin-left: 20px;
}

.dashboard main,
.dashboard aside {
  background: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 10px 5px 0;
  padding: 20px;
  vertical-align: top;
}

.dashboard main {
  width: ~"calc(100% - 315px)";
}

.dashboard aside {
  width: 285px;
  text-align: center
}

.dashboard aside > div {
  margin: 10px 0;
}

.languages_header h2 {
  float: left;
}

.languages_header button {
  float: right;
  margin-top: 5px;
}

.language_manage_header .glyphicon-search {
  cursor: pointer;
  top: -25px;
  right: -182px;
}

.language_manage_header .glyphicon-remove {
  cursor: pointer;
  top: 30px;
  left: -20px;
}

.access_edit_header h2 {
  float: left;
}

.current_role {
  float: left;
  height: 30px;
  margin: 5px 15px 15px;
}

.current_role .btn-group {
  position: absolute;
}

.brand {
  display: block;
  margin-left: 0px !important;
  padding: 10px 35px !important;
  margin-bottom: 5px;
}

.brand img {
  width: 180px;
}

.navbar_panel {
  background: #2d2d2d;
  height: 100%;
  margin-bottom: 0px;
  overflow: auto;
  position: fixed;
  width: 250px;
  z-index: 1000;
  font-size: 15px;
}

.navbar_panel .navbar-inner {
  background: #2d2d2d;
  border: none;
  padding: 0px;
}

.navbar_panel,
.navbar_panel .navbar-inner {
  box-shadow: inset -13px 0px 13px -13px black;
}

.navbar_panel .nav {
  margin: 0px;
  width: 100%;
}

.navbar_panel .nav > li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.102);
}

.navbar_panel .nav > li > a {
  color: #b8b8b8;
  text-shadow: none;
  padding: 7px 15px;
}

.navbar_panel .nav > li:not(.nav-category) > a {
  background-color: rgba(255, 255, 255, 0.031);
  border-top: 1px solid rgba(255, 255, 255, 0.031)
}

.navbar_panel .nav > li:not(.nav-category) > a:hover,
.navbar_panel .nav > li:not(.nav-category) > a:focus {
  background-color: rgba(185, 190, 185, 0.18);
}

.navbar_panel .nav > li > a:hover,
.navbar_panel .nav > li > a:focus {
  color: white;
}

.navbar_panel .nav > li > a > i {
  margin-right: 15px;
  margin-top: 0px;
}

.navbar_panel .nav-category {
  margin-top: 10px;
}

.navbar_panel .nav-category > a {
  padding-left: 5px !important;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  color: #b8b8b8;
  text-align: right;
}

.navbar_panel .nav-category > a:hover,
.navbar_panel .nav-category > a:focus {
  color: #b8b8b8 !important;
  background-color: #2d2d2d;
}

.navbar_panel .navbar-text {
  position: relative;
  bottom: 10px;
  width: 100%;
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
  text-align: center;
}

.navbar_panel .navbar-text .btn {
  width: 110px;
}

.navbar_panel .navbar-text a:hover {
  color: white;
  text-decoration: none;
}

.navbar_panel .nav > .active > a {
  background: white !important;
  color: #2d2d2d;
}

.navbar_panel .nav > .active > a:hover {
  color: #2d2d2d;
}

.navbar {
  border: none;
  border-radius: 0;
  min-height: 40px;
}

.navbar-header {
  float: none;
  box-shadow: 0px -4px 12px 5px black;
}

.navbar-header .nav {
  font-size: 15px;
}

.navbar-header {
  background: #2d2d2d;
  margin-bottom: 0px;
}

.navbar-header li {
  float: left;
}

.navbar-header .navbar-inner {
  background: #2d2d2d;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.navbar-inner .container {
  padding: 0;
}

.navbar-header .nav > li > a {
  color: #b8b8b8;
  text-shadow: none;
  padding: 12px 15px 10px;

  &:hover {
    color: #ffffff;
    background-color: #2d2d2d;
  }

  &.divider:before {
    content: "|";
  }
}

.navbar-header .nav > li > a > i {
  margin-right: 10px;
  margin-top: 0px;
}

.navbar-header .nav > .active > a,
.navbar-header .nav > .active > a:hover {
  box-shadow: none;
  color: white;
  background-color: #428bca;
}

.btn {
  border-radius: 0 !important;
}

.alert {
  border-radius: 0 !important;
}

/* PACKAGES styles */

.package_list {
  margin: 0px;
  padding: 0px;
}

.package_list li {
  padding: 10px;
  margin-bottom: 10px;
  list-style: none;
  background: white;
  border: 1px solid #b8b8b8;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.package_list li h2 {

}

.package_list li.disabled {
  background: url('@{baseUrl}assets/img/core/stripe.png');
}

.package_list li.disabled *:not(.btn) {
  color: black;
}

.package_list li:hover {
  border: 1px solid white;
}

.package_list li .author,
.package_list li .website {
  font-size: 11px;
  line-height: 12px;
  color: #8B8B8B;
}

.package_list li .website a {
  color: #208ECC;
}

.package_list li .description {
  margin-top: 10px;
}

.package_list li h3 {
  color: black;
  line-height: 15px;
}

.package_list li h3 span {
  font-size: 12px;
  color: black;
}

.package_list .package_info {
  float: left;
  max-width: 500px;
}

.package_list .package_options {
  float: right;
}

.modal-header {
  background: #2d2d2d;
}

.modal-header h3,
.modal-header .close {
  color: #fff;
}

.modal-header h3 {
  margin-bottom: 0;
}

.loading_stage {
  background: black;
  opacity: 0.7;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

.loading_stage span {
  background: url('@{baseUrl}assets/img/core/loader/white.gif') no-repeat center center;
  display: block;
  width: 100%;
  height: 100%;
}

.events-row {
  margin-top: 10px;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
}

.events-event {
  float: left;
}

.events-event input {
  margin-top: 5px;
  width: 100px;
}

.events-class {
  float: left;
  margin-left: 10px;
}

.events-class input {
  margin-top: 5px;
  width: 400px;
}

.events-remove {
  float: left;
  margin-left: 10px;
  margin-top: 9px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 1100 !important;
}

/* GRID CSS */
.grid-table th + th,
.grid-table td + td {
  border-left: 1px solid #ddd;
}

.grid-table .actions {
  border-left: 1px solid #ddd;
  min-width: 200px;
}

.grid-filter {
  display: none;
}

.grid-filter th {
  vertical-align: middle;
}

.grid-filter th {
  position: relative;
}

.grid-filter th input,
.grid-filter th select, {
  padding: 5px 2px;
  margin: 0 0 0 -3px;
  min-width: 10px;
  max-width: 100%;
  width: 100%;
  font-weight: normal;
}

.grid-filter input[type="text"] + .clear-filter {
  background: url('@{baseUrl}assets/img/core/grid/filter-clear.png') no-repeat;
  background-size: 16px 16px;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 16px;
  cursor: pointer;
  display: none;
}

.grid-table .grid-sortable {
  display: block;
}

.grid-table .grid-sortable[data-direction="ASC"] {
  background: url('@{baseUrl}assets/img/core/misc/icon-chevron-up.png') no-repeat right center;
  background-size: 12px 12px;
}

.grid-table .grid-sortable[data-direction="DESC"] {
  background: url('@{baseUrl}assets/img/core/misc/icon-chevron-down.png') no-repeat right center;
  background-size: 12px 12px;
}

.grid-no-items {
  text-align: center !important;
  font-size: 16px;
  font-style: italic;
}

.list-actions {
  margin-bottom: 10px;
}

#languages-import-form {
  display: none;
}

.language_manage_body .untranslated {
  color: red;
}

.textarea-readonly {
  border: none;
  background: #E0E0E0 !important;
}

#package_events_form .form_footer {
  margin: 20px 0 20px 0px;
}